/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* main */

.container{
    border: solid black;
    margin: 0 auto;
    width: 70%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.sezione{
    width: calc(100%/3);
    padding: 20px
}

.card{
    position: relative;
}

.sconto{
    position: absolute;
    left: 0;
    bottom: 40px;
    background-color: red;
    padding: 4px;
    color: white;
    font-size: 0.7rem;
}

.info{
    position: absolute;
    left: 35px;
    bottom: 40px;
    background-color: green;
    padding: 4px;
    color: white;
    font-size: 0.7rem;
}

.img1{
    display: block;
}

.img-n{
    display: none;
}

.card:hover .img1{
    display: none;
}

.card:hover .img-n{
    display: block;
}

